# =================================================
# flake8:
#   pycodestyle: E### (error), W### (warning)
#   pyflake:     F### (error)
# pydocstyle: D1## - Missing Docstrings
#             D2## - Whitespace Issues
#             D4## - Docstring Content issues
# flake8-bugbear: B###
# flake8-quotes: Q###
# flake8-black : BLK###
# flake8-commas: C#### (in case installed locally)
# flake8-pie : PIE### (in case installed locally)
# flake8-sfs : SFS### (in case installed locally)
# =================================================

[flake8]
doctests = True
# Exclude some file types and folders that shouldn't be checked:
exclude = .svn,CVS,.bzr,.hg,.git,__pycache__,.tox,.github,build,.venv
statistics = True

# ========================
# File specific ignores:
# ========================
per-file-ignores =
    protseqspark/*:F403

# =======================
# flake8-quotes settings:
# =======================
inline-quotes = double